.text-center{
  text-align:center;
}
.bg-red{
  background-color:#d9bd1e;
}
.mx{
  margin:auto;
}
.flex{
  display:flex;
  align-items: center;
  flex-direction:column;
}
.item-center{
  align-items: center;
}